body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.photo {
  margin: 10px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.photo:hover img {
  transform: scale(1.1);
}


body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

nav {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 1.5em;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

a:hover {
  color: #ffcc00;
}
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

nav {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 1.5em;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

a:hover {
  color: #ffcc00;
}
