body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.video-container {
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
